@font-face {
  font-family: 'Allura';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/allura/v21/9oRPNYsQpS4zjuAPjA.ttf) format('truetype');
}
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bebasneue/v14/JTUSjIg69CK48gW7PXooxW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/anton/v25/1Ptgg87LROyAm0K0.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOiCnqEu92Fr1Mu51QrIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOjCnqEu92Fr1Mu51TjARc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOkCnqEu92Fr1Mu52xP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOjCnqEu92Fr1Mu51S7ABc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOjCnqEu92Fr1Mu51TzBhc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOjCnqEu92Fr1Mu51TLBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmYUtvAw.ttf) format('truetype');
}
:root {
  --main-color: #f8d2c0;
  --second-color: #ffe2d4;
  --background-color: #fff2ee;
  --gray-color: #302f2f;
  --acquired-color: #e24949;
}
.flex-ac-jc {
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  color: var(--gray-color);
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(45deg, var(--background-color) 0%, var(--background-color) 80%, var(--second-color) 100%);
}
header {
  width: 100%;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}
header #logo #rifa {
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 80px;
  line-height: 60px;
  color: #222;
}
header #logo #lolla {
  font-family: 'Allura', cursive;
  font-weight: normal;
  font-size: 60px;
  line-height: 40px;
  color: #222;
}
header h3 {
  font-size: 20px;
}
footer {
  width: 100%;
  padding: 5px 2%;
  text-align: center;
}
@media (max-width: 480px) {
  html,
  body {
    width: 100%;
    height: auto;
  }
  header {
    flex-direction: column;
    align-items: center;
  }
  header #logo {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
/* ------------------ DASHBOARD ------------------ */
#dashboard {
  width: 100%;
  padding: 0 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
#dados {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#dados #quantidades {
  display: flex;
  align-items: center;
  gap: 20px;
}
#dados #quantidades .quantidade-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#dados #quantidades .quantidade-box .quantidade {
  width: 70px;
  height: 70px;
  font-size: 30px;
  border-radius: 50%;
  border: 3px solid var(--gray-color);
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
}
#dados #quantidades .quantidade-box .quantidade#quantidade-numeros-disponiveis {
  background-color: var(--second-color);
}
#dados #quantidades .quantidade-box .quantidade#quantidade-numeros-comprados {
  background-color: var(--acquired-color);
  color: white;
}
#dados #pagamentos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#dados #pagamentos span {
  font-weight: normal;
}
.box-progresso {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.box-progresso h3 {
  margin-bottom: 10px;
}
.box-progresso .dados-progresso {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.box-progresso .dados-progresso .info-progresso {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-progresso .dados-progresso .info-progresso .label {
  font-size: 10px;
  text-align: center;
}
.box-progresso .dados-progresso .barra-progresso {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-progresso .dados-progresso .barra-progresso .progresso {
  height: 25px;
}
.box-progresso .dados-progresso .barra-progresso .progresso:nth-child(1) {
  background-color: var(--acquired-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.box-progresso .dados-progresso .barra-progresso .progresso:nth-child(2) {
  background-color: var(--main-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#compradores {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 480px) {
  html,
  body {
    height: 100%;
  }
  #dashboard {
    flex-direction: column;
  }
  #dashboard #dados {
    width: 95%;
  }
  #dashboard #compradores {
    width: 95%;
  }
}
